:root {
  --green-color: #2dc937;
  --red-color: #cc3232;
  --btn-back: #f0f0f0;
  --border-fill: #d0d0d0;
  --led-off: #d0d0d0;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  }

body {
  padding: 10px 10px;
  font: 13px "Helvetica Neue", "Lucida Grande", "Arial";
  background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9));
  background: #ECE9E9 -moz-linear-gradient(top, #fff, #ECE9E9);
  background-repeat: no-repeat;
  color: #555;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3 {
  font-size: 22px;
  color: #343434;
}
h1 em, h2 em {
  padding: 0 5px;
  font-weight: normal;
}
h1 {
  font-size: 60px;
}
h2 {
  margin-top: 10px;
}
h3 {
  margin: 5px 0 10px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  font-size: 18px;
}
ul li {
  list-style: none;
}
ul li:hover {
  cursor: pointer;
  color: #2e2e2e;
}
ul li .path {
  padding-left: 5px;
  font-weight: bold;
}
ul li .line {
  padding-right: 5px;
  font-style: italic;
}
ul li:first-child .path {
  padding-left: 0;
}
p {
  line-height: 1;
}
a {
  color: #555;
  text-decoration: none;
}
a:hover {
  color: #303030;
}
#stacktrace {
  margin-top: 15px;
}
.directory h1 {
  margin-bottom: 15px;
  font-size: 18px;
}
ul#files, ul#files2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
ul#files li, ul#files2 li {
  float: left;
  width: 30%;
  line-height: 20px;
  margin: 1px;
}
ul#files li a, ul#files2 li a  {
  display: block;
  height: 25px;
  border: 1px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
}
ul#files li a:focus,
ul#files li a:hover,
ul#files2 li a:focus,
ul#files2 li a:hover {
  background: rgba(255,255,255,0.65);
  border: 1px solid #ececec;
}
ul#files li a.highlight, ul#files2 li a.highlight {
  -webkit-transition: background .4s ease-in-out;
  background: #ffff4f;
  border-color: #E9DC51;
}
#search {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 90px;
  -webkit-transition: width ease 0.2s, opacity ease 0.4s;
  -moz-transition: width ease 0.2s, opacity ease 0.4s;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.03);
  -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.03);
  -webkit-font-smoothing: antialiased;
  text-align: left;
  font: 13px "Helvetica Neue", Arial, sans-serif;
  padding: 4px 10px;
  border: none;
  background: transparent;
  margin-bottom: 0;
  outline: none;
  opacity: 0.7;
  color: #888;
}
#search:focus {
  width: 120px;
  opacity: 1.0;
}

/*views*/
#files span, #files2 span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  text-indent: 10px;
}
#files .name, #files2 .name {
  background-repeat: no-repeat;
}
#files .icon .name, #files2 .icon .name  {
  text-indent: 28px;
}

/*tiles*/
.view-tiles .name {
  width: 80%;
  background-position: 8px 5px;
}
.view-tiles .size,
.view-tiles .date {
  display: none;
}

/*details*/
ul#files.view-details li, ul#files2.view-details li {
  float: none;
  display: block;
  width: 80%;
}
/*rowheader*/
ul#files.view-details li.header, ul#files2.view-details li.header {
  height: 25px;
  background: #000fff;
  color: #fff;
  font-weight: bold;
}
.view-details .header {
  border-radius: 5px;
}
.view-details .name {
  width: 85%;
  background-position: 8px 5px;
}
.view-details .size {
  width: 10%;
}
.view-details .date {
  width: 30%;
}
.view-details .size,
.view-details .date {
  text-align: right;
  direction: rtl;
}
ul#files li:nth-child(odd), ul#files2 li:nth-child(odd) {
  background: #c0c0c0;
}


/*icon image*/
/* #files .icon-directory .name, #files2 .icon-directory .name {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABGdBTUEAALGPC/xhBQAAAWtQTFRFAAAA/PPQ9Nhc2q402qQ12qs2/PTX2pg12p81+/LM89NE9dto2q82+/fp2rM22qY39d6U+/bo2qo2/frx/vz32q812qs12qE279SU8c4w9NZP+/LK//367s9y7s925cp0/vzw9t92//342po2/vz25s1579B6+OSO2bQ0/v799NyT8tE79dld8Msm+OrC/vzx79KA2IYs7s6I9d6R4cJe9+OF/PLI/fry79OF/v30//328tWB89RJ8c9p8c0u9eCf//7+9txs6sts5Mdr+++5+u2z/vrv+/fq6cFz8dBs8tA57cpq+OaU9uGs27Y8//799NdX/PbY9uB89unJ//z14sNf+emh+emk+vDc+uys9+OL8dJy89NH+eic8tN5+OaV+OWR9N2n9dtl9t529+KF9+GB9Nue9NdU8tR/9t5y89qW9dpj89iO89eG/vvu2pQ12Y4z/vzy2Ict/vvv48dr/vzz4sNg///+2Igty3PqwQAAAAF0Uk5TAEDm2GYAAACtSURBVBjTY2AgA2iYlJWVhfohBPg0yx38y92dS0pKVOVBAqIi6sb2vsWWpfrFeTI8QAEhYQEta28nCwM1OVleZqCAmKCEkUdwYWmhQnFeOStQgL9cySqkNNDHVJGbiY0FKCCuYuYSGRsV5KgjxcXIARRQNncNj09JTgqw0ZbkZAcK5LuFJaRmZqfHeNnpSucDBQoiEtOycnIz4qI9bfUKQA6pKKqAgqIKQyK8BgAZ5yfODmnHrQAAAABJRU5ErkJggg==);
}
 */
/*******************
********************/
/* .btnclass {
    background-color: #707070;
    border: 1px solid #000;
    border-radius: 5px;    
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    padding: 5px 5px;
    width: 80px;
    height: 25px;
    margin: 5px 5px;
    display: block;
    float: right;
} */
.btndisplay{
  background-color: inherit;
  height: 90px;
  width: 100%;
  clear: both;
}
.displaypanel{
  width: 100%;
  height: 90px;
  background-color:inherit;
  float: right;
  display: block;
}
.playlist{ 
  height: auto;
  width:100%;
  background-color: inherit;
  float: right;
  display:block;
}
.librarydsp{  
  width:100%;
  height: 800px;
  float:left;
  background-color: inherit;
  display: block;
  border: 0
}
.modedisplay{
 float:right;
 clear: both;   
}
.playlistheader
{
text-align: center;
}
.wrapper{
  min-height: 800px;
  width: 1400px;
}
.btn-mrg-fix-c{
 margin:8px 0px;
 width:85px;
 background-color: var(--btn-back);
}
.btn-mrg-fix-r{
  margin:8px 8px 8px 0px;
  width:85px ;
  background-color: var(--btn-back);
 }
 .btn-mrg-fix-l{
  margin-top: 8px;
  margin-right: 0px;
  margin-bottom: 8px;
  margin-left: 8px !important ;
  width:85px;
  background-color:var(--btn-back);

 }
.padme{
  padding: 10px 10px;
}
.led {
  float: left;
  padding: 3px;
  width: 10px;
  height: 10px;
  margin: 5px 5px 5px 5px;
  border-radius: 50%;
  background-color: var(--led-off);
}

.btn-border{
  border-style: solid;
  border-width:1px;
  border-color:black;
  border-radius: .5em;
  margin: 8px;
  background-color: var(--border-fill);
}
.btn-div{
  text-align: center;
  font-size: large;
  font-weight: bold; 
  display: block;
  width:100%;
  clear: both;
}

.btn-full{
  width:100%

}
.no-gutters{
  margin:none;
}
/* @group Blink */
.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

.bord{
  border-style: solid;
  border-width: 1px;
}
.padless{
  padding: 20px 40px;
}

.pad2{
  padding: 0px 0px 10px 0px;
}

.pad1{
  padding: 25px 0px;

}

h5{
  padding: 10px 0px 0px 0px;
  text-align: center;

}

.upbutton {
  background:url(../img/upbtn.png) no-repeat;
  cursor:pointer;
  width: 20px;
  height: 20px;
  float:left;
  display: block;
  margin: 0 0 0 7px;
  border: none;
}

.homebutton {
  background:url(../img/homebtn.png) no-repeat;
  cursor:pointer;
  width: 20px;
  height: 20px;
  float:left;
  display: block;
  margin: 0 0 0 20px;
  border: none;
}
.margin1{
  margin: 5px 0 0 20px;

}

/* */
